@media (max-width: 1400px){
    .discription{
        padding: 250px 0 1000px;
    }
}

@media (max-width: 997px){
    .discription{
        padding: 1000px 0;
    }
}

@media (max-width: 767px){
    .discription{
        padding: 1200px 0 1000px;
    }
}


