%flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

%position{
    position: absolute;
    content: ' ';
    width: 3px;
    z-index: 0;
    height: 85px;
    right: -56px;
}