$red_txt: #F0145A;
$blue_txt: #24A3FF;
$gray: #B3B3BA;
$white: #fff;
$black: #000000;
$blue_grad_first: #323264;

$menu_links_color: #fff;
$main_text_color: #fff;
$accent_color: #F0145A;
$header_top_offset: 50px;
$header_height: 89px;
$banner_top_offset: $header_top_offset + $header_height