@media (max-width:992px){
    .confidenc{
        .col-3{
            width: calc(100%/3);
        }
    } 
}

@media (max-width:576px){
    
    .confidenc{
        .col-3{
            width: calc(100%/2);
            img{
                width: 75%;
            }
        }
    } 
}

